@font-face{
font-family: 'Monserrat';
src:url('../fonts/Montserrat/static/Montserrat-Bold.ttf')
    url('../fonts/Montserrat/static/Montserrat-BoldItalic.ttf');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: 'Monserrat';
src:url('../fonts/Montserrat/static/Montserrat-Light.ttf')
    url('../fonts/Montserrat/static/Montserrat-LightItalic.ttf');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: 'Oswald';
src:url('../fonts/Oswald/static/Oswald-Bold.ttf')
    url('../fonts/Oswald/static/Oswald-SemiBold.ttf');
font-weight: bold;
font-style: normal;
font-display: swap;
}