.map{
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1440px;
    grid-template-rows: 600px;
    background-position: center;
    &__title{
        color: #2D5E5E;
        font-family: Oswald;
        font-size: 44px;
        padding: 0;
        line-height: 1.5px;
    }
    &__list{
        list-style: none;
        background-color: #ADDDDE;
        width: 300px;
        height: 200px;
        padding: 5px;
        justify-content: center;
        align-items: end;
       }
    &__link{
        text-decoration: none;
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 1.33;
    }
}