.news{
    background-image: url(../images/counter-bg-news.png);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 250px 250px 250px;
    color: #fff;
    &__title{
        font-family: Oswald;
        font-size: 44px;
        line-height: 1.5;
        grid-column: 1/span 2;

    }
    &__img{
        width: 334px;
        height: 230px;
   }

}