.offer{
    background-image: url(../images/photo_to_main_offer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-bottom: 300px;
    &__title{
        padding-top: 230px;
        line-height: 1.5;
        font-size: 50px;
        max-width: 575px;
        padding-bottom: 31px;
    }
    &__description{
        font-size: 50px;
        max-width: 575px;
        padding-bottom: 31px;
    }
}
