.offer{
    background-image: url(../images/photo_to_main_offer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    &__title{
        padding-top: 250px;
        line-height: 1.5em;
        font-size: 50px;
        max-width: 555px;

    }
    &__description{
        font-size: 50px;
        max-width: 555px;
    }
}