.quest{
    margin: 50px;
    &__list{
        list-style: none;
       }
       &__link{
            background-image: url(../images/Vector.svg);
            background-repeat: no-repeat;
            text-decoration: none;
            font-size: 24px;
            line-height: 1.33;
            color: #000;
            padding-left: 30px;
            padding-bottom: 25px;
            text-align: center;
       }
       &__link_gr{
        background-image: url(../images/Vector-2.svg);
        background-repeat: no-repeat;
        color: #2D5E5E;
       }
}