.reviews{
    display: flex;
    flex-direction: column;
    font-family: Oswald;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    padding-bottom: 50px;
&__icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    padding: 20px 0 20px 0;
}
&__inform{
    font-size: 18p;
    width: 600px;
    height: 260px;
    background-color: #ADDDDE;
}
&__description{
    color: #000;
    text-align: center;
    font-size: 16px;
    line-height: 1.33;
}
&__icon_side{
    width: 17px;
    height: 30px;
    padding: 100px 20px;
}
 
}