.services {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 40px 0;

    &__item {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        line-height: 1.3;
        font-size: 26px;
        color: #2D5E5E;
        margin: 0 0 20px;
    }
    &__icon{
        margin-bottom: 25px;
    }
    &__description{
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
    }
}
